// state of element
.is-shown {
  display: block;
  opacity: 1;
  visibility: visible;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  height: 0;
}

// margin
$mb-8: px(80);

// text align
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

// color text
.c-red {
  color: $dark-red;
}

.c-blue {
  color: $dark-blue;
}

.c-pink {
  color: $dark-pink;
}

.c-green {
  color: $dark-green;
}

.c-purple {
  color: $dark-purple;
}

.c-sky {
  color: $dark-sky;
}

.justify-content-between {
  justify-content: space-between !important;
}
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.mb-3 {
  margin-bottom: px(30);
}

.mb-12 {
  margin-bottom: px(120);
}
