.background {
  background-color: $light-blue;
  z-index: -1;
  position: absolute;

  @include media("<=tablet") {
    width: 100% !important;
    height: 100% !important;
    border-radius: 40px !important;
    top: 0;
    left: 0;
  }
}

.background--left {
  width: 40%;
  height: 75%;
  bottom: 0;
  left: 0;
  border-radius: 0 40px 40px 0;
}

.background--right {
  width: 40%;
  height: 75%;
  bottom: 0;
  right: 0;
  border-radius: 40px 0px 0px 40px;
}
