.btn {
  padding: px(12);
  display: inline-block;
  background-color: #ffffff;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
}

.btn--rounded {
  border-radius: px(10);
}

.btn--green {
  background-color: $light-green;
}

.btn--blue {
  background-color: $dark-blue;
}
