.btn {
  padding: px(15) px(12) !important;
  display: inline-block;

  background-color: $text-white;
  color: $text-white;

  outline: none;
  vertical-align: middle;
  text-align: center;

  font-size: 1.6rem;
  font-weight: $f-semibold;
  cursor: pointer;

  @include media("<=tablet") {
    display: inline-block !important;
    margin-bottom: px(10);
  }
}

.btn--rounded {
  border-radius: px(10);
}

.btn--green {
  background-color: $light-green;
}

.btn--primary {
  background-color: $primary-color;
}

.btn-group {
  @include flex(center);

  @include media("<=tablet") {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn {
    margin: 0 px(10) 0 px(20);
    &:last-child {
      margin-right: 0;
    }

    @include media("<=tablet") {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
}
