.category {
  font-size: px(13);
  padding: px(4) px(15);
  background-color: $bg-cate;
  display: inline-block;
  line-height: px(20);
  font-weight: $f-medium;
  color: #fff;
  z-index: 2;

  position: absolute;
  top: -20px;
  left: 0;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: -12px;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: px(12) solid transparent;
    border-bottom: px(20) solid $bg-cate;
    z-index: -1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -12px;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: px(12) solid transparent;
    border-bottom: px(20) solid rgba($color: #000000, $alpha: 0.4);
    z-index: 1;
  }
}
