.feature-card {
  display: block;
  padding: px(30);
  background-color: #fff;
  border-radius: px(20);
  margin-left: auto;
  margin-right: auto;

  @include media("<=tablet") {
    padding: 1rem;
    width: 100% !important;
  }
}
.feature-card__title {
  margin-top: px(30);
  margin-bottom: px(10);
  font-weight: $f-semibold;
  font-size: 1.8rem;

  @include media("<tablet") {
    margin-top: px(20);
  }
}

.feature-card__desc {
  line-height: px(24);

  @include media("<=tablet") {
    @include limit-line-text(3);
  }
}
