.icon {
  @include flex(center, center, nowrap);
  @include setIconSize(px(70));
  margin-bottom: px(30);

  border-radius: 50%;
  font-size: px(34);

  position: relative;
  z-index: 1;

  @include media("<tablet") {
    @include setIconSize(px(60));
  }

  &:after {
    @include setIconSize(100%);
    @include setPositions(0, unset, 0, unset);

    content: "";
    position: absolute;
    z-index: 0;
    border-radius: 100%;
    opacity: 0.2;
    background-color: currentColor;
  }
}
