.icon {
  @include flex(center, center, nowrap);
  width: px(70);
  height: px(70);

  border-radius: 50%;
  font-size: px(34);

  position: relative;
  z-index: 1;

  @include media("<tablet") {
    width: px(60);
    height: px(60);
  }

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    opacity: 0.2;
    background-color: currentColor;
  }
}
