.mega-menu {
  visibility: hidden;
  opacity: 0;
  transition: all 0.1s ease-in-out 0s, visibility 0s linear 0.1s, z-index 0s linear 0.01s;

  position: absolute;
  left: 0;
  top: 100%;

  width: 100%;
  background-color: rgb(250, 250, 250);
  z-index: 2;
  color: $text-default;

  @include media("<=tablet") {
    visibility: hidden;
    opacity: 0;
  }
}
.mega-dropdown {
  position: static !important;
}
