.slide {
  position: relative;

  @include media("<tablet") {
    &:before {
      width: px(60);
      height: px(60);

      left: 0;
      top: 3px;
    }
  }
}

.swiper-pagination {
  span {
    margin-right: px(10);
  }
}

.swiper-pagination {
  @include flex(center);

  position: static;

  bottom: unset;
  top: unset;
  right: unset;
  left: unset;

  text-align: left;
}

.swiper-pagination-bullet {
  width: px(12);
  height: px(12);

  transition: 0.1s all ease;
  outline: none;
}

.swiper-pagination-bullet-active {
  width: px(16);
  height: px(16);

  outline: none;
}
