// mega menu
.sub-menu {
  position: absolute;
  z-index: 2;
  margin-right: -15px;
  margin-left: -15px;

  display: none;
  @include sub-menu($text-white, #ebebeb, px(170));

  @include media(">desktop") {
    box-sizing: border-box;
  }

  @include media("<desktop") {
    @include setPositions();
    border: unset;
    background-color: transparent;
  }
}
.sub-menu__item {
  width: 100%;
  position: relative;
}
.sub-menu__link {
  color: $text-default;
  font-weight: $f-medium;
  display: block;
  width: 100%;
  padding: px(10);
  transition: 0.2s all ease;

  &:hover {
    background-color: rgba($color: #000000, $alpha: 0.1);
  }

  @include media("<desktop") {
    font-weight: $f-regular;
    color: $text-white;
  }
}
.sub-menu {
  width: 100%;
  list-style: none;
}
.submenu-active .sub-menu {
  @include isShown;
  @include setPositions(unset, unset, unset, unset);
  display: block;
  position: static;
  transform: unset;
  transition: none;
}
