.tab-wrapper {
  box-sizing: border-box;
  padding: px(10);
}

.tab__nav {
  @include flex(stretch, flex-start);
  padding-left: 0;
  list-style: none;
  margin-bottom: px(10);
}
.tab__link {
  padding: px(8) px(16);
  display: block;
  text-decoration: none;
  color: $text-default;
  text-transform: capitalize;
  transition: 0.3s all ease;

  &.is-active,
  &:hover {
    background-color: #ebebeb;
  }
}

.tab__pane {
  display: none;

  &.is-active {
    display: block;
  }
}
