.container {
  margin-right: auto;
  margin-left: auto;
  max-width: $wrapper;
  width: 100%;
  padding: 1rem;

  @include media("<tablet") {
    padding: 0.4rem;
  }
}

.row {
  @include flex(stretch);

  @include media("<tablet") {
    flex-wrap: wrap !important;
  }
}

[class*="col--"] {
  padding: 1rem;

  @include media("<desktop") {
    width: 50% !important;
  }
  @include media("<tablet") {
    width: 100% !important;
  }
}

.col--2 {
  width: 20%;
}

.col--3 {
  width: 25%;
}

.col--4 {
  width: calc(100% / 3);
}

.col--5 {
  width: 41.666667%;
}

.col--6 {
  width: 50%;
}

.col--8 {
  width: 66.666667%;
}

.col--9 {
  width: 75%;
}

.col--12 {
  width: 100%;
}

.grid {
  @include grid-base($desk-grid-width);

  // tablet
  @media screen and (max-width: $grid-tablet-breakpoint) {
    width: $tab-grid-width;
  }

  // mobile
  @media screen and (max-width: $grid-mobile-breakpoint) {
    width: $mob-grid-width;
  }

  &-0 {
    @include grid-base(100%);
  }
}

.col {
  @include columns-loop(desk, $grid-desktop-columns, $desk-gutter);

  @media screen and (max-width: $grid-tablet-breakpoint) {
    @include columns-loop(tab, $grid-tablet-columns, $tab-gutter);
  }

  @media screen and (max-width: $grid-mobile-breakpoint) {
    @include columns-loop(mob, $grid-mobile-columns, $mob-gutter);
  }
}
