.section {
  margin-left: auto;
  margin-right: auto;

  @include media("<desktop") {
    padding-left: px(30) !important;
    padding-right: px(30) !important;
    margin-bottom: px(40) !important;
  }
  @include media("<tablet") {
    padding: px(20) px(10) !important;
  }
}

/*
 introduce
*/
.introduce {
  margin-bottom: $mb-8;

  .introduce-card {
    width: calc(100% - 10px);
  }
}

// trusted
.trusted {
  padding: 0 px(85);
  position: relative;
  margin-bottom: px(30);

  @include media("<desktop") {
    padding-top: px(30);
    padding-bottom: px(30);
  }

  .heading {
    @include media("<=tablet") {
      margin-bottom: px(40);
    }
  }
}
.trusted-content {
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

// feature
.feature {
  background-color: $light-orange;
  padding: px(80) px(70) px(90);
  margin-bottom: $mb-8;
  border-radius: px(40);
  width: 98%;

  @include media("<=tablet") {
    padding-top: px(30);
    padding-bottom: px(30);
  }
  @include media("<tablet") {
    width: 100%;
  }
}

// post
.post {
  max-width: 1170px;
  margin-bottom: 10rem;

  .heading {
    @include media("<desktop") {
      margin-bottom: 2rem;
    }
  }

  .category {
    position: absolute;
    top: -20px;
    left: 0;
  }
}
