.section {
  margin-left: auto;
  margin-right: auto;

  @include media("<desktop") {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    margin-bottom: 4rem !important;
  }
  @include media("<tablet") {
    padding: 2rem 1rem !important;
  }
}

/*
 introduce
*/
.introduce {
  margin-bottom: $mb-8;

  .introduce-card {
    width: calc(100% - 10px);
  }
}

// trusted
.trusted {
  padding: 0 85px;
  position: relative;
  margin-bottom: 3rem;

  @include media("<desktop") {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .heading {
    margin: 0 auto 120px;

    @include media("<=tablet") {
      margin-bottom: 4rem;
    }
  }
}
.trusted-content {
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

// feature
.feature {
  background-color: $light-orange;
  padding: 8rem 7rem 9rem;
  margin-bottom: $mb-8;
  border-radius: 4rem;
  width: 98%;

  @include media("<=tablet") {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  @include media("<tablet") {
    width: 100%;
  }

  .heading {
    margin: 0 auto 35px;
  }

  .feature-card {
    width: calc(100% - 20px);
    margin-bottom: 20px;
  }
}

// post
.post {
  max-width: 1170px;
  margin-bottom: 10rem;

  .heading {
    margin: 0 auto 35px;

    @include media("<desktop") {
      margin-bottom: 2rem;
    }
  }

  .category {
    position: absolute;
    top: -20px;
    left: 0;
  }
}

.post {
  .post-card {
    width: calc(100% - 10px);
    margin-bottom: 1rem;
  }
}
